<!-- src/app/components/funcionario-form/funcionario-form.component.html -->
<div class="container mt-4">
    <h2 class="mb-4 text-center">{{ editMode ? 'Editar Funcionário' : 'Adicionar Funcionário' }}</h2>
    <form (ngSubmit)="salvarFuncionario()">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="id" class="form-label">ID:</label>
          <input 
            type="number" 
            id="id"
            class="form-control" 
            [(ngModel)]="funcionario.id" 
            name="id" 
            [disabled]="editMode" 
            placeholder="ID do funcionário"
          />
        </div>
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome:</label>
          <input 
            type="text" 
            id="nome"
            class="form-control" 
            [(ngModel)]="funcionario.nome" 
            name="nome" 
            required 
            placeholder="Nome do funcionário"
          />
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="funcao" class="form-label">Função:</label>
          <input 
            type="text" 
            id="funcao"
            class="form-control" 
            [(ngModel)]="funcionario.funcao" 
            name="funcao" 
            required 
            placeholder="Cargo ou função"
          />
        </div>
        <div class="col-md-6">
          <label for="dataAdmissao" class="form-label">Data de Admissão:</label>
          <input 
            type="date" 
            id="dataAdmissao"
            class="form-control" 
            [(ngModel)]="funcionario.dataAdmissao" 
            name="dataAdmissao" 
            required
          />
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="salario" class="form-label">Salário:</label>
          <input 
            type="number" 
            id="salario"
            class="form-control" 
            [(ngModel)]="funcionario.salario" 
            name="salario" 
            required 
            placeholder="Salário do funcionário"
          />
        </div>
      </div>
  
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
          {{ editMode ? 'Salvar' : 'Adicionar' }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="router.navigate(['/'])">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  